<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AskMate</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="static/js/main.js" defer></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
</head>
<body>
    <!-- Navbar-->
    <nav class="navbar navbar-default">
        <div class="conatiner-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"> AskMate </a>
            </div>
            <ul class="nav navbar-nav">
                <a href="/sign_up"><button type="button" class="btn btn-default navbar-btn">Sign up</button></a>
                <a href="/login"><button type="button" class="btn btn-default navbar-btn"> Login </button></a>
            </ul> 
        </div>
    </nav>

    <!-- Content -->
    <div class="container">
        <div id="addbutton-container">
            <button type="button" class="btn btn-default navbar-btn" id="ask-button">Ask New Question</button>
        </div>
        <div class="row">
            <form action="/ask_new_question" method="POST">
            <div class="span4 textarea" id="newQuestionText">
                <div class="span6">
                    <input type="text" placeholder="Title of question" name="question_title">
                    <br/>
                    <div class="span6">
                        <textarea minlength="10" rows="5" cols="50" placeholder="Explicate your question" name="question_message"></textarea>
                        <div class="span2">
                            <button class="btn btn-default navbar-btn" type="submit" id="sendQuestion"> Ask it </button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>

    <div class="container">
        
    </div>
</body>
</html>